<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Lastname</label>
    <input type="text" class="form-control" id="lastname" placeholder="Lastname" [(ngModel)]="person.LastName">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Firstname</label>
    <input type="text" class="form-control" id="firstname" placeholder="Firstname" [(ngModel)]="person.FirstName">
  </div>
    
  <button type="button" class="btn btn-danger" (click)="deletePerson()"><i class="fa fa-times" aria-hidden="true"></i> Delete</button>
  <button type="button" class="btn btn-success pull-right" (click)="savePerson()"><i class="fa fa-save" aria-hidden="true"></i> Save</button>
</form>